.ui-code {
    padding: 20px 30px;
    width: 100%;

    border-radius: 5px;
    background-color: #212121;
    color: white;

    height: fit-content;
    resize: none;
    min-height: initial;
        
    font-size: 16px;
    line-height: 143%;
    // font-family: Source Code Pro ,monospace
}