.ui-attention {
    --space: 12px;

    gap: var(--space);

    display: flex;

    button {
        box-shadow: 0px 0px 0px 5px rgba(var(--v-theme-primary50));
    }

    p { 
        margin-bottom: 0;
        max-width: none;
    }
}